* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}
div {
  padding: 10px;
}
.options {
  display: flex;
  gap: 10px;
  position: absolute;
  right: 0;
}
nav.topNav {
  padding: 5px;
  align-items: center;
  display: flex;
  border-bottom: 2px solid hsl(var(--border));
  position: sticky;
  width: 100%;
}
.pokedexContainer {
  padding: 15px 30px;
}
.search {
  width: 40%;
  display: flex;
  gap: 30px;
}
.defaultPokemons {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 30px;
}
