* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow-y: scroll;
}
html::-webkit-scrollbar-track {
  border: 1px solid hsl(var(--border));
  background-color: hsl(var(--background));
}

html::-webkit-scrollbar {
  width: 10px;
  background-color: hsl(var(--card));
}

html::-webkit-scrollbar-thumb {
  background-color: hsl(var(--border));
}

#root {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}
div {
  padding: 10px;
}
.options {
  display: flex;
  gap: 10px;
}
nav.topNav {
  padding: 5px;
  align-items: center;
  display: flex;
  border-bottom: 2px solid hsl(var(--border));
  position: sticky;
  width: 100%;
}
.logoImg {
  flex: 4;
}
.options {
  flex: 1;
}
.search {
  flex: 25;
  width: 40%;
  display: flex;
  gap: 30px;
}
.pokedexContainer {
  padding: 15px 30px;
}
.defaultPokemons {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 30px;
}
